@font-face { font-family: D-DIN; src: url('../fonts/D-DINCondensed.otf');}
@font-face { font-family: D-DIN; font-weight: bold; src: url('../fonts/D-DINCondensed-Bold.otf');}
*{
    font-family: 'D-DIN', 'Segoe UI', sans-serif;
    max-width: 100%;
}
img{
    max-width: 100%;
}

/* Animations */
.text-aprenda{
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 0.3s;
    -webkit-transform: translateX(-1000%);
        -ms-transform: translateX(-1000%);
            transform: translateX(-1000%);
}
.animate .text-aprenda{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}
.title-smart{
    display: flex;
    flex-direction: row;
}
.title-smart > span{
    letter-spacing: normal;
    opacity: 0;
    filter: alpha(opacity=0);
}
.text-letters-3{
    -webkit-transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 0.7s;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 0.7s;   
}

.text-letters-2{
    -webkit-transition: all .3s ease-in-out 0.5s;
            transition: all .3s ease-in-out 0.5s;
            color: #00E1BE;
    margin: 0 22px 0 10px;
}
.text-letters-2-m{
    margin: 0 0 0 30px;
}

.text-letters-1{
    -webkit-transition: all .3s ease-in-out 0.3s;
            transition: all .3s ease-in-out 0.3s;
    margin: 0;
}

.animate .text-letters-1{
    -webkit-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
            transform: scale(1.2,1.2);

    opacity: 1;
    filter: alpha(opacity=100);
}

.animate .text-letters-2{
    -webkit-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
            transform: scale(1.2,1.2);
    opacity: 1;
    filter: alpha(opacity=100);
}

.animate .text-letters-3
{
    -webkit-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
            transform: scale(1.2,1.2);
    opacity: 1;
    filter: alpha(opacity=100);
}
/* First section */
.line-1{
    background-color: #00E1BE;
    height: 78px;
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
}
.first-section{
    background-color: #011913;
    height: auto;
    max-height: 900px;
    padding: 0;
}
.title-mentoria{
    color: white;
    font-size: 5em;
    letter-spacing: 0.1em;
}
.texts-1{
    margin: 50px auto 0 auto;
    padding: 5px 15px 0 15px;
}
.title-smart{
    color: #ffffff;
    font-size: 7.6em;
    font-weight: bold;
    text-align: justify;
    letter-spacing: normal;
    text-justify: inter-word;
    line-height: 1;
    margin: 0;
}
.text-aprenda{
    color: white;
    font-size: 1.8em;
    line-height: 1;
}
.green-text{
    color: #00E1BE;
    transition: all 0.5s;
    font-style: normal;
}
.green-text:hover{
    font-style: italic;
    color: #036060;
}
.column-center{
    display: flex;
    align-items: center;
}
.column-img{
    min-height: 294px;
    height: auto;
}
.img-first-section{
    margin-top: -83px;
    max-height: 700px;
}
.btn-green{
    text-transform: uppercase;
    color: #001E1F;;
    background-color: #00E1BE;
    background: linear-gradient(to right, #036060 49%, #00E1BE  52%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: all 0.7s ;
    font-weight: 700;
    font-size: 2em;
    border-radius: 10px;
    padding: 2px 25px;
}
.btn-green:hover{
    background-color: #090C0B;
    background-position: 1% bottom;
    color: white;
}
/* Second section */
.second-section{
    background-color: #011913;
    height: auto;
    padding: 70px 0;
    text-align: center;
}
.subtitle{
    text-align: center;
    color: white;
    max-width: 920px;
    margin: 24px auto;
    font-size: 2.5em;
}
@keyframes blink{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
.green-background-text{
    color: #001E1F;
    background-color: #00E1BE;
    font-size: 2.5em;
    font-weight: bold;
    padding: 0 10px;
    width: fit-content;
}
.green-background-text::after{
    content:'|';
    opacity: 1;
    animation: blink .7s infinite;
}
.list-benefits{
    width: fit-content;
    color: white;
    list-style: none;
    padding: 0;
}
.list-benefits > li{
    font-size: 1.5em;
}
.list-benefits> li:before {
    width: fit-content;
    content:'\2022';
    color: #00E1BE;
    position: relative;
    top: 0;
    left: 0;
}    
.dark-green-text{
    color: #001E1F;
    font-weight: bold;
}
.background-green{
    padding: 10px;
    background-color: #036060;
    margin: 48px 0;
}

/* Third section */
.third-section{
    background-color: #011913;
    padding: 30px;
}
.flex-column{
    padding: 20px 0;
}
.flex-column > .row{
    margin: 0;
}
.text-tudo{
    color: #00E1BE;
    font-size: 3em;
    font-weight: bold;
    margin-left: auto;
    min-width: 250px;
    width: min-content;
}
.text-tudo > .green-background-text{
    font-size: 1.2em;
    padding: 0;
}
.text-tudo > span{
    margin-left: auto;
}
.text-logo-mentoria-1{
    color: white;
    font-size: 4em;
    letter-spacing: 0.1em;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.text-logo-mentoria-2{
    color: white;
    font-size: 7.3em;
    font-weight: bolder;
    line-height: 1;
    padding: 0;
    margin: 0;
}
.white-text{
    color: white;
}
.questions{
    padding: 10px;
}
.questions > p{
    color: white;
    font-size: 1.5em;
    margin: 0;
}
.row > .questions:nth-child(-n+4){
    border-right: 2px solid #00E1BE;
}
.img-third-section{
    max-width: 900px;
    margin: auto 0;
}
.title-mobile{
    display: none;
}

/* Fourth section */
.fourth-section{
    background-color: #E0E0E0;
    height: auto;
    padding: 30px;
}
.text-programa{
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}
.content-mobile{
    display: none;
}
h6.subtitle-column{
    color: #011C1C;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    line-height: 1;
}
h5.title-column{
    color: #00AA89;
    font-weight: bold;
    font-size: 2.5em;
    margin: 0;
    line-height: 1;
}
.group-column > div > p{
    max-width: 180px;
    font-size: 1em;
}
/* First column info */
.group-column-1{
    border-right: 2px solid #00AA89;
    margin: 0 -2px 0 0;
    height: auto;
}
.group-column-1 > .group-text-1{
    border-top: 2px solid #00AA89;
    margin: 0 -15px 0 35px;
    padding: 0 25px 0 0;
}
.group-column-1 > .group-text-1 > h6{
    margin-top: -10px;
    width: fit-content;
    padding: 0 5px 0 0;
    background-color: #E0E0E0;
}
.group-column-1 > .group-text-2{
    min-height: 100px;
    margin: 0 -12px 0 0;
    height: auto;
}
.group-column-1 > .group-text-2 > .row{
    width: 100%;
    margin: 0 -15px 0 15px;
}
.group-column-1 > .group-text-2 > .row > div{
    padding: 0;
}
.group-text-2 > div > .col-10 > .texts-group-text-2{
    height: auto;
    background-color: #E0E0E0;
    padding: 20px 0 0 0;
    margin: 0 -20px 0 20px;
    position: relative;
    z-index: 1;
}
.fake-column-1{
    min-height: 185px;
    border-left: 2px solid #00AA89;
    border-bottom: 2px solid #00AA89;
    position: relative;
    z-index: 0;
}
/* Second column info */
.group-column-2{
    margin: 0 -50px 0 -20px;
}
.group-column-2 > .group-text-3{
    background-color: #E0E0E0;
    padding: 5px 0 0 0;
}
/* Third column info */
.group-text-3 > h5, .group-text-3 > h6, .group-text-3 > p{
    background-color: #E0E0E0;
    z-index: 3;
    width: fit-content;
    position: relative;
}
.group-column-3{
    border-left: 2px solid #00AA89;
    z-index: 1;
    position: relative;
    border-top: 2px solid #00AA89;
    padding-right: 0;
    max-height: 350px;
}
.group-column-3 > .group-text-4{
    padding: 0 0 0 0;
    margin: 0 0 0 60px;
}
.group-column-3 > .group-text-4 > h6{
    margin-top: -10px;
    padding: 0 5px 0 0;
    background-color: #E0E0E0;
}
.group-text-5 > div > .col-8 > .texts-group-text-5{
    height: auto;
    background-color: #E0E0E0;
    margin-left: -25px;
    position: relative;
    z-index: 1;
}
.fake-column-2{
    min-height: 185px;
    border-right: 2px solid #00AA89;
    border-bottom: 2px solid #00AA89;
    position: relative;
    z-index: 0;
}

/* Fifth section */
.fifth-section{
    background-image: url("../img/imgFifthSection.png");
    background-size: 100% 100%;
    background-color: #011913;
    background-attachment: fixed;
    padding: 30px;
}
.text-bonus{
    text-align: center;
    font-size: 7em;
    font-weight: bold;
    color: white;
}
.fifth-title{
    color: white;
    font-weight: bold;
}
.fifth-text{
    color: white;
}
.fifth-line{
    color: #00AA89;
    background-color: #00AA89;
    border: 1px solid #00AA89;
    width: 100%;
}
.fifth-section > div{
    max-width: 850px;
}
.fifth-section > div > .row{
    margin: 0;
}
.fifth-section > div > div > .col-md-4{
    padding: 25px;
}
.fifth-section > div > div > .col-md-4:nth-child(-n+2){
    border-right: 2px solid #00E1BE;
}

/* Sixth section */
.sixth-section{
    background-color: #E0E0E0;
    height: auto;
    padding: 50px 30px 80px 30px;
}
.text-quanto{
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}
.sixth-line{
    border-top: 2px solid #011913;
    width: 50%;
}
.text-vale{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #000000;
}
.text-sair{
    font-size: 1.5em;
    text-align: center;
    color: #000000;
}
.text-old-price{
    font-size: 2em;
    text-align: center;
    margin: 0;
}
.text-old-price > .risk-price{
    text-decoration: line-through;
    color: #7A7A7A;
}
.new-price{
    margin: -30px 0 -30px 0;
}
.text-price-1{
    margin: 20px 0 auto 0;
    font-size: 4em;
}
@keyframes increase{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
}
.text-price-2{
    margin: 0 10px auto 10px;
    font-size: 7em;
    font-weight: bold;
    animation: increase .8s infinite;
}
.text-price-3{
    margin: auto 0 25px 0;
    font-size: 3em;
}
.text-price-4{
    font-size: 2em;
    text-align: center;
    margin: 0;
}

/* Seventh section */
.seventh-section{
    background-color: #011913;
    padding: 50px 30px 150px 30px;
    color: white;
    text-align: center;
}
.seventh-section > div > .btn-green{
    margin: -120px 0 0 0;
}
.text-seven{
    color: #00AA89;
    font-size: 3em;
}
.text-adquirindo{
    max-width: 750px;
    margin: 0 auto;
    font-size: 1.5em;
}

/* Eigth section */
.eigth-section{
    background-color: #E0E0E0;
    height: auto;
    padding: 50px 30px 80px 30px;
    text-align: center;
}
.img-eigth-section{
    max-width: 150px;
    margin: -150px auto 0 auto;
    transition: all 0.3s;
}
.img-eigth-section:hover{
    transform: scale(1.1);
}
.text-joao{
    font-size: 6.8em;
    font-weight: bold;
    color: #00E1BE;
    text-align: right;
}
.text-maior{
    color: #1A1A1A;
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
    max-width: 400px;
    margin: 20px 0 0 0;
}
.text-empreendedor{
    max-width: 900px;
    margin: auto;
    font-weight: bold;
    font-size: 1.5em;
}
.text-participa{
    color: #474747;
    max-width: 900px;
    margin: auto;
    font-size: 1em;
    font-weight: bold;
}